body {
    width: 800px;
}

section {
    width: 525px;
    float: right;
    padding: 0 20px 20px 20px; /* top: 0, right: 20px, bottom: 20px, left: 20px */
}

section h2 {
    /* Styles for h2 in section */
}

aside {
    width: 215px;
    float: right;
    padding: 0 20px 20px 20px; /* top: 0, right: 20px, bottom: 20px, left: 20px */
}

aside h2 {
    /* Styles for h2 in aside */
}

footer {
    clear: both;
}

h1 {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin: 0;
}

article img {
    float: right;
    margin: 10px 0 10px 10px; /* top: 10px, right: 0, bottom: 10px, left: 10px */
    border: 1px solid black;
}
